.__view_scope{
  &.inputbox{
    font-size: 32px;
    border: none;
    background: #eee;
    width: 100%;
    height: 55px;
    padding: 15px;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
  }
  &.text{
    font-weight: bold;
    font-size: 44px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
}
