.__view_scope{
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  position: relative;
  .title-line{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-wrap: wrap;
    min-height: 80px;

    .btns{
      position: absolute;
      min-width: 150px;
      right: 15px;
      top: 15px;
    }

    .left{

      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      .meta{
        .title{
          font-size: 40px;
          white-space: break-spaces;
          word-break: break-all;
        }
        .date{
          margin: 8px 0;
          font-size: 18px;
          opacity: .7;
          font-weight: normal;
        }
      }
      .tags{
        font-size: 24px;
        font-weight: normal;
        display: flex;
        .tag{
          margin: 10px;
          background: #eee;
          border-radius: 10px;
          padding: 5px 10px;
          cursor: pointer;
          color: #000;
          box-shadow: 0 0 5px #aaa;
        }
      }
    }

    &.editing{
       height: 200px;
      .left{
        flex-direction: column;
        margin-bottom: -40px;
        .meta{
          margin-top: 40px;
          margin-bottom: 10px;
          width: 100%;
          .title{
            font-size: 32px;
          }
        }
        .item{
          margin-bottom: 10px;
        }
      }
    }

  }
  .markedpad{
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 500px;
    .inp{
      line-height: 1.5;
      font-size: 24px;
    }
    &.readmode{
      overflow: hidden;
      position: relative;
      height: auto;
      .box.marked{
        height: 100%;
        overflow: hidden;
      }
    }
  }
  &.small{
    .readmode.markedpad{
      height: auto;
      max-height: 250px;
      min-height: 150px;
      .mask{
        position: absolute;
        height: 80px;
        align-items: center;
        bottom: 0;
        width: 100%;
        background: linear-gradient(180deg, rgba(255,255,255,.3), #ccc);
        cursor: pointer;
        opacity: .6;
        transition: .3s;
      }
    }
  }
  &.large, &.new{
    .readmode{
      border: none;
      border-top: 1Px solid #ddd;
      padding-top: 20px;
      .box.marked{
        margin: 0;
        padding: 0;
      }
    }
  }
}
