.__view_scope{
	width: 100%;
	display: flex;
  justify-content: center;
  align-items: center;
  .error{
    font-size: 56px;
    .title{
      display: flex;
      align-items: center;
      .bi{
        font-size: 64px;
      }
    }
  }
}