.__view_scope{
  &.block{
	  width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
  }
  .error{
    font-size: 56px;
    .title{
      display: flex;
      align-items: center;
      .bi{
        font-size: 64px;
      }
    }
  }
}
