.__view_scope{
  width: 100%;
  .v-fade{
    position: relative;
    min-height: 250px;
    &.v-fade-hide{
      opacity: 0;
      transform: scale(.6);
      transform-origin: center;
    }
    transition: .3s;
  }
  .load-more{
    display: flex;
    justify-content: center;
    padding: 30px 0;
  }
  .loading-panel{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
