.__view_scope{
  width: 100%;
  .v-fade{
    position: relative;
    min-height: 250px;
    &.v-fade-hide{
      opacity: 0;
      transform: scale(.6);
      transform-origin: center;
    }
    transition: .3s;
  }
  .empty, .bottom{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .empty{
    font-size: 32px;
    font-weight: bold;
    height: 300px;
  }
  .bottom{
    height: 100px;
    color: #777;
    font-size: 22px;
  }
}
