html, body, .app{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  *{
    font-family: "SF Pro SC","HanHei SC","SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif!important;
  }
}
body, p{
  margin: 0;
}

.app-container{
	position: relative;
	margin: 0 auto;
  width: 1280Px;
	max-width: 100%;
}

@media (max-width:750px){
  html, body{
    font-size: 10px;
  }
}
@media (min-width:1024px) {
  html, body{
    font-size: 14px;
  }
}
@media (min-width:1280px) {
  html, body{
    font-size: 16px;
  }
}

*{
  font-family: -apple-system, system-ui, sans-serif;
}
a{
  text-decoration: none;
}
